@import "tailwindcss";

@plugin "@tailwindcss/forms" {
  strategy: base;
}

@theme {
  --font-inter: var(--font-inter), sans-serif;
  --font-nacelle: var(--font-nacelle), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-card: var(--card);
  --color-ring: var(--ring);

  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5384;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5715;
  --text-base: 0.9375rem;
  --text-base--line-height: 1.5333;
  --text-base--letter-spacing: -0.0125em;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-lg--letter-spacing: -0.0125em;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-xl--letter-spacing: -0.0125em;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.415;
  --text-2xl--letter-spacing: -0.0268em;
  --text-3xl: 1.75rem;
  --text-3xl--line-height: 1.3571;
  --text-3xl--letter-spacing: -0.0268em;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 1.1;
  --text-4xl--letter-spacing: -0.0268em;
  --text-5xl: 3.5rem;
  --text-5xl--line-height: 1;
  --text-5xl--letter-spacing: -0.0268em;
  --text-6xl: 4rem;
  --text-6xl--line-height: 1;
  --text-6xl--letter-spacing: -0.0268em;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-7xl--letter-spacing: -0.0268em;

  @keyframes shine {
    0% {
      top: 0;
      transform: scaleY(5);
      opacity: 0;
    }
    10% {
      opacity: 0.8;
    }
    20% {
      top: 100%;
      transform: scaleY(10);
      opacity: 0;
    }
    100% {
      top: 100%;
      transform: scaleY(1);
      opacity: 0;
    }
  }
  @keyframes gradient {
    to {
      background-position: 200% center;
    }
  }
}

@layer base {
  :root {
    --background: oklch(0.1676 0.0365 146.12);
    --foreground: oklch(0.8912 0.0168 144);
    --primary: oklch(0.2059 0.0686 142.94);
    --primary-foreground: oklch(0.8382 0.2412 146.12);
    --secondary: oklch(0.9265 0.0439 141.88);
    --accent: oklch(0.5147 0.1105 164.12);
    --muted: oklch(0.9944 0.0094 144 / 17.26%);
    --border: oklch(0.4887 0.261 268.94);
    --input: oklch(0.9706 0.0118 126);
    --card: oklch(0.9294 0.0365 144);
    --ring: oklch(0.2059 0.034 279.53);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .animate-bg-color {
    @apply animate-[gradient_6s_linear_infinite] bg-[linear-gradient(to_right,var(--color-gray-200),var(--color-indigo-200),var(--color-gray-50),var(--color-indigo-300),var(--color-gray-200))] bg-[length:200%_auto] bg-clip-text;
  }
  .btn,
  .btn-sm {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium transition-all;
  }

  .btn {
    @apply px-4 py-[11px];
  }

  .btn-sm {
    @apply px-3 py-[7px];
  }

  /* Forms */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select,
  .form-checkbox,
  .form-radio {
    @apply border border-gray-700 bg-neutral-200 focus:border-gray-600 focus:ring-0 focus:ring-offset-0;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select {
    @apply rounded-lg px-4 py-2.5 text-sm text-gray-700;
  }

  .form-input,
  .form-textarea {
    @apply placeholder-gray-600;
  }

  .form-select {
    @apply pr-10;
  }

  .form-checkbox,
  .form-radio {
    @apply text-indigo-500;
  }

  .form-checkbox {
    @apply rounded-xs;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 8px));
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@utility animate-scroll {
  animation: scroll 20s linear infinite;
}

@utility animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@utility text-balance {
  text-wrap: balance;
}
